<form class="ui form" {{action "save" on="submit"}}>
  {{text-input label="Título" propertyName="title" changeset=changeset}}
  {{text-input label="Endereço" propertyName="slug" changeset=changeset disabled="disabled"}}
  {{text-area label="Conteúdo" propertyName="body" changeset=changeset}}

  {{save-button}}
</form>
